.config-background {
    width: auto;
    height: auto;
    padding: 15px;
    background-color: rgb(238, 238, 238);
}

.config-div-background {
    width: auto;
    height: auto;
    border-radius: 25px;
    background: rgb(221, 221, 221);
    padding: 10px;
    margin: 5px;
}

.config-lista {
    width: 50%;
    height: auto;
    border-radius: 25px;
    background: rgb(221, 221, 221);
    padding: 10px;
    margin: 5px;
}
